/* Estilo general de la página */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #2e2e2e;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

/* Contenedor principal */
.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background-color: #3a3a3a;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    height: 60%;
    align-items: stretch;
    justify-content: center;
}

/* Sección izquierda y derecha */
.left-section, .right-section {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.left-section {
    border-right: 1px solid #555555;
}

/* Tipografía */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

textarea, .output {
    width: 90%; /* Ajustar ancho para mayor espacio interior */
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid #555555;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4a4a4a;
    color: #ffffff;
    resize: none;
    box-sizing: border-box;
}

/* Estilo de los botones */
button {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1e90ff;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #1c86ee;
    transform: scale(1.05);
}

/* Alineación de botones */
.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Estilo del mensaje de validación */
#validationMessage {
    color: red;
    margin-top: 10px;
    text-align: center;
}

/* Estilo del pie de página */
footer {
    width: 100%;
    text-align: center;
    color: #bbbbbb;
    padding: 10px 0;
    background-color: #2e2e2e;
    position: absolute;
    bottom: 0;
}

/* Animación del cursor */
body, button {
    cursor: pointer;
}
